body{

font-family: Arial, sans-serif;

background:white;

padding:20px;

}


h1{

text-align:center;

color:green;

}


form{

background:beige;

padding:20px;

border-radius:10px;

max-width:400px;

margin:auto;

}


input, textarea, select{

width:100%;

padding:10px;

margin-top:8px;

margin-bottom:15px;

}


textarea{

height:100px;

}


button{

width:100%;

padding:12px;

background:green;

color:white;

border:none;

border-radius:8px;

font-size:16px;

}